::ng-deep .mat-tab-label, ng-deep .mat-tab-label-active{
    min-width: 0px!important;
    padding: 0px!important;
    margin: 20px!important;
    font-size:18px;
   }

   .block-loose{margin-bottom:1.5rem!important}
   .block-flush-for-large-up{margin-bottom:0!important}

   .flex-row{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-webkit-flex:0 1 auto;-moz-box-flex:0;-moz-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;max-width:62.5rem;margin:0 auto}

   .flex-small{
       box-sizing:border-box;
       -webkit-box-flex:0;
       -webkit-flex:0 1 auto;
       -moz-box-flex:0;
       -moz-flex:0 1 auto;
       -ms-flex:0 1 auto;
       flex:0 1 auto;
       padding-right:.9375rem;
       padding-left:.9375rem;
       -webkit-box-flex:1;
       -webkit-flex-grow:1;
       -moz-flex-grow:1;
       -ms-flex-positive:1;
       flex-grow:1;
       -webkit-flex-basis:0;
       -moz-flex-basis:0;
       -ms-flex-preferred-size:0;
       flex-basis:0;
       max-width:100%
   }
   .flex-small-12{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 1 auto;-moz-box-flex:0;-moz-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;padding-right:.9375rem;padding-left:.9375rem;-webkit-flex-basis:100%;-moz-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
   .text-muted{color:#999!important}
   .block-flush{margin-bottom:0!important}
   .flex-large{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 1 auto;-moz-box-flex:0;-moz-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;padding-right:.9375rem;padding-left:.9375rem;-webkit-box-flex:1;-webkit-flex-grow:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-moz-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}

   .heading-small{
       font-size:1rem!important;font-weight:500!important}

    .text-black>a{color:#333!important}
    .text-tight{line-height:1.333333334}
    .block-flush{margin-bottom:0!important}
    .display-block-for-large-up{display:block!important}
       